    .align-center {
        text-align: center;
    }

    .badge {
        background-color: deepskyblue;
        color: white;
        font-weight: bold;
        padding: 0.25rem 0.5rem;
        border-radius: 50%;
        margin-left: 0.5rem;
    }